In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import cross_val_score

In [2]:
diamonds = pd.read_csv("../input_diamonds/diamonds_train.csv")

In [3]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,VS2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,VVS2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,VS1,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,IF,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,SI1,63.4,57.0,6.52,6.55,4.14,4997

In [4]:
diamonds["cut"].replace(["Premium", "Ideal", "Very Good","Good","Fair"],[1,2,3,4,5],inplace=True)
diamonds["clarity"].replace(["SI1", "VS2", "SI2","VS1","VVS2","VVS1","IF","I1"],[1,2,3,4,5,6,7,8],inplace=True)
diamonds["color"].replace(["G", "E", "F","H","D","I","J"],[1,2,3,4,5,6,7],inplace=True)

In [5]:
diamonds=diamonds[(diamonds.x!=0) & (diamonds.y!=0) & (diamonds.z!=0)]

In [6]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,2,4,2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,3,5,5,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,1,3,4,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,2,4,7,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,4,1,1,63.4,57.0,6.52,6.55,4.14,4997

In [7]:
diamonds.drop(columns=["x","z","y","Unnamed: 0"],inplace=True)

In [8]:
X=diamonds.drop(columns=["price"])
y=diamonds["price"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32262, 6) (8066, 6) (32262,) (8066,)

In [24]:
model= RandomForestRegressor(n_estimators=1500).fit(X_train, y_train)
y_pred=model.predict(X_test)
print(np.mean(cross_val_score(model, X_train, y_train, scoring='r2', cv=3, n_jobs=2)))
print("r2_score", r2_score(y_test,y_pred))
print("RSME", (mean_squared_error(y_test,y_pred)**0.5))

0.9784287165803879
r2_score 0.9807284377414831
RSME 552.4679786590901

In [25]:
model2= GradientBoostingRegressor(n_estimators=2000).fit(X_train, y_train)
y_pred=model2.predict(X_test)
print(np.mean(cross_val_score(model2, X_train, y_train, scoring='r2', cv=3, n_jobs=2)))
print("r2_score", r2_score(y_test,y_pred))
print("RSME", (mean_squared_error(y_test,y_pred)**0.5))

0.977292584649318
r2_score 0.9794014181731723
RSME 571.1725276227199

In [13]:
diamonds_test = pd.read_csv("../input_diamonds/diamonds_test.csv")
diamonds_test.head()

   Unnamed: 0  carat        cut color clarity  depth  table     x     y     z
0           0   0.30      Ideal     H     SI2   60.0   56.0  4.41  4.43  2.65
1           1   0.34      Ideal     D      IF   62.1   57.0  4.52  4.46  2.79
2           2   1.57  Very Good     I     VS2   60.3   58.0  7.58  7.55  4.56
3           3   0.31      Ideal     H     VS2   61.8   57.0  4.32  4.36  2.68
4           4   1.51       Good     I    VVS1   64.0   60.0  7.26  7.21  4.63

In [14]:
diamonds_test.drop(columns=['x','z',"y","Unnamed: 0"],inplace=True)

In [15]:
diamonds_test["cut"].replace(["Premium", "Ideal", "Very Good","Good","Fair"],[1,2,3,4,5],inplace=True)
diamonds_test["color"].replace(["G", "E", "F","H","D","I","J"],[1,2,3,4,5,6,7],inplace=True)
diamonds_test["clarity"].replace(["SI1", "VS2", "SI2","VS1","VVS2","VVS1","IF","I1"],[1,2,3,4,5,6,7,8],inplace=True)

In [20]:
price_pred=model2.predict(diamonds_test)

In [21]:
df_price=pd.DataFrame({'price':price_pred})
df_price.index.rename('id', inplace=True)
df_price.head()

           price
id
0     400.022854
1    2063.988627
2   10064.546649
3     590.631667
4    9773.773167

In [22]:
df_price.to_csv("./output/test7.csv")